body {
    margin: 0px;
    background-attachment: fixed;
    background: url('../ancient-antique-art-235985.jpg');
    background-size: 100%;
    background-position: center;
    display: flex;
}

.camera_top_1{
    margin-top: 100px;
    margin-left: 600px;
    position: fixed;
    border-bottom: 100px solid rgba(62, 67, 77, 1);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width: 200px;
    border-radius: 10px;
    z-index: 4;
}

.camera_top_2{
    margin-top: 125px;
    margin-left: 1120px;
    position: fixed;
    z-index: 4;
    border: 10px solid rgba(62, 67, 77, 0.8);
    border-radius: 8px;
    width: 100px;
    height: 30px;
    background-color: rgba(62, 67, 77, 1);
}

.camera0 {

    margin-top: 146px;
    margin-left: 204px;
    width: 1100px;
    height: 580px;
    border: solid rgba(62, 67, 77, 0.8) 10px;
    border-radius: 50px;
    display: flex;
    position: fixed;
    z-index: 4;
    flex-direction: row;
    background-image: url(../art-background-black-696644.jpg);
    background-position: center center;
    
}

#lens {
    z-index: 3;
}

canvas {
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    border: 10px solid rgba(62, 67, 77, 0.8);
    background: rgba(255, 255, 255, 0.1);
    z-index: 4;
}

#bgimages {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 200px;
    margin-top: 200px;
    border-left: solid 60px rgba(0, 0, 0, 0);
    border-right: solid 60px rgba(0, 0, 0, 0);
}

#buttons {
    margin-top: 20px;
    margin-left: 875px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#buttons button {
    margin-left: 20%;
    width: 120px;
    height: 30px;
    margin-top: 20px;
}

#scientist_intro {
    margin-top: 10px;
    margin-left:18%;
    color: white;
}

#y{
    color : white;
    margin-left:40%;
}

footer {
    margin-bottom: 0px;
    border: solid 2px;
    height: 250px;
}


#background1 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#div1 {
    background: #eeeeee;
    width: 90%;
    z-index: 1;
    margin: 12% auto;
    overflow: auto;
}

span {
    color: white;
    padding-top: 12px;
    cursor: pointer;
    padding-right: 15px;
}

#div2 {
    background: #eeeeee;
    margin: auto;
    height: 620px;
    width: 1100px;
    padding: 0 20px;
}

#close {
    padding: 2px;
    background: rgba(5, 2, 46, 0.5);
}

#close-button {
    float: right;
    font-size: 30px;
}

#foot {
    padding: 5px 0;
    text-align: center;
    background: #5cd31b;
    color: white;
}

h2 {
    margin: 10px 0;
    color: white;
    padding-left: 15px;
}

h3 {
    margin: 0 0px;
    padding-top: 15px;
}


/* button */
#animal{
    border-radius: 10px;
    background-color: rgba(62, 67, 77, 0.8);
    color: white;
    box-shadow: 3px 3px 5px rgba(48, 52, 58, 0.8);
    transition: transform 1s ease;
    border: none;
}

#animal:hover{
    transform: scale(1.2, 1.2);
}

#animal:active{
    background-color: black;
}

#person{
    border-radius: 10px;
    background-color: rgba(62, 67, 77, 0.8);
    color: white;
    box-shadow: 3px 3px 5px rgba(48, 52, 58, 0.8);
    transition: transform 1s ease;
    border: none;
}

#person:hover{
    transform: scale(1.2, 1.2);
}

#person:active{
    background-color: black;

}

#scientists{
    border-radius: 10px;
    background-color: rgba(62, 67, 77, 0.8);
    color: white;
    box-shadow: 3px 3px 5px rgba(48, 52, 58, 0.8);
    transition: transform 0.5s ease;
    border: none;
}


#scientists:hover{
    transform: scale(1.2, 1.2);
}

#scientists:active{
    background-color: black;
}

#bgclear{
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.8);
    color: black;
    box-shadow: 3px 3px 5px rgba(181, 181, 182, 0.8);
    transition: transform 0.5s ease;
    border: none;
}

#bgclear:hover{
    transform: scale(1.2, 1.2);
}

#bgclear:active{
    background-color: black;
    color: white;
}

#confirm{
    border-radius: 10px;
    background-color: rgba(62, 67, 77, 0.8);
    color: white;
    box-shadow: 3px 3px 5px rgba(62, 67, 77, 0.8);
    transition: transform 0.5s ease;
    border: none;
}

#confirm:hover{
    transform: scale(1.2, 1.2);
}

#confirm:active{
    background-color: black;
}