/* CSS */
/* universal setting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* header (jumbotron) setting */
.jumbotron {
    /*background-color: rgb(242, 84, 44) !important;*/
    color: white !important;
    position: relative;
    height: 350px;
}

.jumbotron video {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.web_title {
    color: white;
    position: absolute;
    z-index: 1;
    left: 35%;
}

.jumbotron h1 {
    font-weight: bold;
}

/* general section, h2, h4, and p setting */
.container-fluid {
    padding: 80px !important;
}

.container-fluid h2 {
    margin: 0 0 50px 0;
    font-weight: bold;
}

.container-fluid h4 {
    margin: 0 0 30px 0;
    line-height: 1.6;
    text-align: justify;
}

.container-fluid p {
    margin: 0 0 40px 0;
    color: rgb(70, 70, 70);
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.6;
    text-align: justify;
}

/* second section setting */
section:nth-of-type(2) {
    background-color: rgb(237, 237, 237);
}

/* big glyficon setting */
/* To style the big glyphicon, I add a new class logo */
.logo {
    display: inline-block;
    margin: 55px 0 55px 60px;
    font-size: 200px;
    color: rgb(242, 84, 44);
}

/* service section and its content setting */
section:nth-of-type(3) span {
    padding: 20px;
    font-size: 50px;
    color: rgb(242, 84, 44);
}

section:nth-of-type(3) h4 {
    text-align: center;
}

section:nth-of-type(3) p {
    text-align: center;
}

/* protfolio setting */
section:nth-of-type(4) {
    background-color: rgb(237, 237, 237);
}
section:nth-of-type(4) h4 {
    text-align: center;
}

section:nth-of-type(4) .thumbnail {
    padding: 7px;
}

section:nth-of-type(4) .thumbnail p:first-of-type {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

section:nth-of-type(4) .thumbnail p:last-of-type {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

section:nth-of-type(4) img {
    -webkit-user-drag: none;
}

/* carousel setting */
.carousel-indicators {
    bottom: -60px !important;
}
.carousel-indicators li {
    border-color: rgb(242, 84, 44) !important;
    width: 15px !important;
    height: 15px !important;
    margin: 5px !important;
}

.carousel-indicators li.active {
    background-color: rgb(242, 84, 44);
}

.carousel-inner h4 {
    text-align: center;
}

.carousel-inner h4 span {
    font-style: italic;
    font-size: 0.8em;
}

.left.carousel-control, .right.carousel-control {
    color: rgb(242, 84, 44);
    background-image: none !important;
    transition: all 500ms ease;
}

.left.carousel-control:visited, .right.carousel-control:visited {
    color: rgb(242, 84, 44);
}

.left.carousel-control:hover, .right.carousel-control:hover {
    color: rgb(242, 84, 44);
    text-shadow: 0.5px 0.5px rgb(53, 16, 7);
}

/* panel setting */
section:nth-of-type(6) {
    background-image: url(../images/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section:nth-of-type(6) h2 {
    color: white;
    text-shadow: 1px 1px 5px rgb(75, 49, 50);
}

.payment_plan {
    color: white;
    text-shadow: 1px 1px 5px rgb(75, 49, 50);
    text-align: center !important;
}

.panel {
    border: 1px solid rgb(242, 84, 44) !important;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-heading {
    background-color: rgb(242, 84, 44) !important;
    border-radius: 0 !important;
}

.panel-heading h1 {
    margin: 20px;
    color: white;
}

.panel-body p {
    text-align: center;
    margin-bottom: 15px;
}

b {
    font-weight: 1000 !important;
    font-size: 17px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h4 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(139, 139, 139);
}

.panel-footer button {
    border-color: rgb(242, 84, 44);
    background-color: rgb(242, 84, 44);
    color: white;
}

.panel-footer button:hover {
    border-color: rgb(242, 84, 44);
    background-color: white;
    color: rgb(242, 84, 44);
}

/* contact section */
section:nth-of-type(7) {
    background-color: rgb(237, 237, 237);
}
section:nth-of-type(7) .col-sm-5 p {
    margin-bottom: 22px;
    font-size: 15px;
}

section:nth-of-type(7) .col-sm-5 p span {
    margin-right: 5px;
    font-size: 15px;
}

section:nth-of-type(7) textarea {
    resize: none;
}

/* hope section setting */
section:nth-of-type(8) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../images/two-women-standing-beside-brown-board-on-wall-3184296.jpg);
    background-position: center center;
    background-size: 100vw 132vh;
    background-repeat: no-repeat;
}

section:nth-of-type(8) h1 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 5px rgb(71, 46, 37);
}

/* footer setting */
footer {
    background-color: rgb(237, 237, 237);
}

footer a span {
    color: rgb(242, 84, 44);
    font-size: 20px;
}

footer h4 {
    text-align: center !important;
    margin: 20px 0 !important;
}

/* nav bar */
.navbar {
    padding: 0 30px !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0 !important;
    border: none !important;
    background: transparent !important;
    transition: all 500ms ease;
}

.navbar.version2 {
    background-color: #f4511e !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
}

.navbar .navbar-brand:hover {
    color: rgb(242, 84, 44) !important;
}

.navbar.version2 .navbar-brand:hover {
    color: rgb(242, 84, 44) !important;
    background-color: #fff !important;
}

.navbar li a:hover {
    color: rgb(242, 84, 44) !important;
}

.navbar.version2 li a:hover {
    color: rgb(242, 84, 44) !important;
    background-color: #fff !important;
}

.navbar.version2 li.active a {
    color: rgb(242, 84, 44) !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    color: white !important;
}

.navbar-default .navbar-toggle:hover {
    background: transparent !important;
}

.icon-bar {
    background-color: white !important;
}

.navbar-collapse {
    border: none !important;
    box-shadow: none !important;
}

/* element animation */
.before_slide {
    visibility: hidden;
}

.slide {
    visibility: visible;
    animation: fancySlide 1s ease;
}

@keyframes fancySlide {
    from {
        opacity: 0;
        transform: translateY(70%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* media queries */
@media only screen and (max-width: 768px) {
    
    .web_title {
        left: 20%;
        top: 100px;
        width: 300px;
        opacity: 1;
        visibility: visible;
        transition: all 300ms ease;
    }

    .web_title.hide {
        opacity: 0;
        visibility: hidden;
        display: block !important;
    }

    section:nth-of-type(8) {
        background-size: 250vw 132vh;
    }
}