/* general setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
    overflow: hidden;
}

h2 {
    font-size: 3vw;
    font-weight: lighter;
    overflow: hidden;
}

p {
    font-weight: lighter;
    font-size: 2vw;
    overflow: hidden;
}

/* section setting */
section {
    padding: 6vh 9vw;
    background-color: rgb(255, 253, 250);
    overflow: hidden;
}

section h1 {
    color: black;
    margin-bottom: 5vh;
}

section article {
    display: flex;
    overflow: hidden;
    position: relative;
}

section article .content {
    width: 50%;
    overflow: hidden;
}

section article .content p {
    font-size: 1.4vw;
    text-align: justify;
    line-height: 1.6;
}

/* button setting */
.button {
    display: inline-block;
    padding: 1vw 2vw;
    margin-top: 2vw;
    cursor: pointer;
    font-size: 2vw;
    opacity: 0;
    transform: translateY(5vh);
    transition: background-color 0.5s ease,
                transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: background-color, transform, opacity;
    position: relative;
}

.button.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.button a:link {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

.button a:visited {
    color: white;
}

.button a:after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

.button:hover a:after, .button a.active::after {
    left: 0;
    width: 100%;
}

.button.forest {
    background-color: rgb(102, 160, 72);
}

.button.lakes {
    background-color: rgb(72, 159, 253);
}

.button.cabin {
    background-color: rgb(176, 66, 50);
}

/* section image setting */
section article figure {
    width: 50%;
    margin: 1vh 0 1vh 4vw;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(5vh);
    transition: background-image 0.5s ease,
                transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
}

figure.is-visible {
    opacity: 1;
    transform: translateY(0);
}

figure.bg-forest {
    background-image: url("../images/low poly forest/low poly forest.png");
}

figure.bg-lakes {
    background-image: url("../images/low poly lakes/lakes bg.png");
}

figure.bg-cabin {
    background-image: url("../images/low poly cabin/low poly cabin.png");
}

section article figure img {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

section article figure img.disappearing {
    opacity: 0;
    visibility: hidden;
}

.cloud1 {
    position: absolute;
    width: 30%;
    top: 2vh;
    animation: cloud_1 5s linear infinite alternate;
}

.cloud2 {
    position: absolute;
    width: 20%;
    top: 5vh;
    left: 20vw;
    animation: cloud_2 8s linear infinite alternate;
}

.cloud3 {
    position: absolute;
    width: 30%;
    top: 12vh;
    left: 22vw;
    animation: cloud_3 8s linear infinite alternate;
}

.moon {
    position: absolute;
    width: 10%;
    left: 15vw;
    top: 1vh;
    animation: moon 8s linear infinite alternate;
}

@keyframes cloud_1 {
    from {left: 4vw}
    to {left: 6vw}
}

@keyframes cloud_2 {
    from {left: 20vw}
    to {left: 25vw}
}

@keyframes cloud_3 {
    from {left: 22vw}
    to {left: 18vw}
}

@keyframes moon {
    from {left: 15vw}
    to {left: 18vw}
}

@media only screen and (max-width: 900px) {
    section h1 {
        font-size: 8vw;
    }

    section article {
        flex-flow: column nowrap;
    }

    section article .content {
        width: 100%;
    }

    section article .content p {
        font-size: 3vw;
    }

    .button {
        padding: 2vw 3vw;
        display: block;
        text-align: center;
    }

    .button a {
        font-size: 3vw;
    }

    section article figure {
        width: 100%;
        height: 400px;
        margin: 5vw 0;
        background-size: cover;
    }

    @keyframes cloud_1 {
        from {left: 8vw}
        to {left: 20vw}
    }

    @keyframes cloud_2 {
        from {left: 55vw}
        to {left: 45vw}
    }

    @keyframes moon {
        from {left: 30vw}
        to {left: 40vw}
    }
}