* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
    overflow: hidden;
}

h2 {
    font-size: 3vw;
    font-weight: lighter;
    overflow: hidden;
}

p {
    font-weight: lighter;
    font-size: 2vw;
    overflow: hidden;
}

/* header extra */
header {
    background-image: url("../images/panel-bgs/campfire.png");
    height: 100vh;
    overflow: hidden;
}

.logo-link {
    z-index: 1;
}

/* title extra */
.title-extra {
    position: absolute;
    left: 9vw;
    width: 50vw;
    top: 18vw;
    z-index: 1;
}

.title-extra h1 {
    color: white;
    margin-bottom: 10vh;
}

.title-extra p {
    font-weight: lighter;
    color: white;
}

.title-extra p a, .title-extra p a:visited {
    color: white;
}

.cube1 {
    position: absolute;
    width: 35vw;
    height: 35vw;
    background-color: rgb(253, 120, 35);
    border-radius: 12px;
    margin-top: -15vw;
    margin-left: 2vw;
}

.cube2 {
    position: absolute;
    bottom: 10%;
    width: 8vw;
    height: 8vw;
    background-color: rgb(253, 173, 43);
    border-radius: 12px;
    z-index: 1;
    margin-top: -220px;
    margin-left: 100px;
}

.cube3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vw;
    height: 10vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-top: -220px;
    margin-left: 100px;
}

.cube4 {
    position: absolute;
    top: 70%;
    right: 0;
    width: 20vw;
    height: 20vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-top: -220px;
    margin-right: -10vw;
}

.cube5 {
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 10vw;
    margin-right: -10vw;
}

.cube6 {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: -10vw;
    margin-right: -10vw;
}

.cube7 {
    position: absolute;
    top: 15%;
    right: 20%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: -10vw;
    margin-right: -10vw;
}

.cube8 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 20vw;
    height: 20vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 10vw;
    margin-left: -10vw;
}

.cube9 {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: -10vw;
    margin-right: -10vw;
}

.cube10 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20vw;
    height: 20vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 10vw;
    margin-right: -10vw;
}

.cube11 {
    position: absolute;
    top: 60%;
    left: 26%;
    width: 10vw;
    height: 10vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-top: -220px;
    margin-left: 100px;
}

.cube12 {
    position: absolute;
    top: 72%;
    left: 68%;
    width: 10vw;
    height: 10vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: -10vw;
    margin-right: -10vw;
}

.cube13 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 20vw;
    height: 20vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 10vw;
    margin-left: -10vw;
}

.cube14 {
    position: absolute;
    top: 96%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: -10vw;
    margin-right: -10vw;
}

.cube15 {
    position: absolute;
    top: 85%;
    right: 0;
    width: 20vw;
    height: 20vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 10vw;
    margin-right: -10vw;
}

.cube16 {
    position: absolute;
    top: 87%;
    left: 26%;
    width: 10vw;
    height: 10vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-top: 570px;
    margin-left: 100px;
}

.cube17 {
    position: absolute;
    top: 58%;
    left: 0;
    width: 5vw;
    height: 5vw;
    background-color: rgb(254, 200, 51);
    border-radius: 6px;
    z-index: 1;
    margin-top: -220px;
    margin-left: 100px;
}

.cube18 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 5vw;
    height: 5vw;
    background-color: rgb(253, 120, 35);
    border-radius: 6px;
    z-index: 1;
    margin-top: 570px;
    margin-left: 40px;
}


/* section */
section {
    padding: 6vh 9vw;
    background-color: rgb(39, 18, 5);
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}

/* thumbnails */
section figure {
    width: 35%;
    margin: 0 5vw;
    height: 100%;
    z-index: 1;
}

section figure div {
    height: 35vw;
    background-color: grey;
}

.photo-campfire {
    background-image: url("../images/activities/campfire.jpg");
}

.photo-fishing {
    background-image: url("../images/panel-bgs/fishing-small.jpg");
}

.photo-pine {
    background-image: url("../images/panel-bgs/forest-small.jpg");
}

.photo-mountain {
    background-image: url("../images/panel-bgs/mountain-small.jpg");
}

section figure a {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: filter 1s ease;
}

section figure a:hover {
    filter: blur(3px);
}

section figure h1 {
    color: white;
    font-size: 3vw;
    margin: 4vh 0;
}

section figure p {
    color: white;
    text-align: justify;
    font-size: 1.4vw;
    line-height: 1.6;
    margin: 4vh 0;
}

.photo-gallery2, .photo-gallery4 {
    margin-top: 35vh;
}

/* footer extra */
.footer-extra {
    padding: 0;
    margin: 0 5vw;
    background: none;
    width: 100%;
    overflow: hidden;
}

/* bottom bonfires */
.bonfire1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
}

.bonfire2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
}

@media only screen and (max-width: 900px) {
    .title-extra {
        width: 65vw;
        top: 40vw;
    }

    .title-extra h1 {
        font-size: 8vw;
        margin-bottom: 8vw;
    }

    .title-extra p {
        font-size: 4vw;
    }

    section {
        flex-flow: column nowrap;
        align-items: center;
    }

    section figure {
        width: 70%;
        margin-bottom: 10vw;
    }

    .photo-gallery2, .photo-gallery4 {
        margin-top: 0;
    }

    section figure div {
        height: 70vw;
    }

    section figure h1 {
        font-size: 8vw;
    }

    section figure p {
        font-size: 3vw;
    }

    .cube12 {
        top: 69%;
        left: 50%;
    }
}