* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/panel-bgs/island.jpg");
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    animation: animated_bg 10s linear infinite;
}

@keyframes animated_bg {
    0% {background-size: 150%}
    50% {background-size: 160%}
    100% {background-size: 150%}
}

p, li {
    font-size: 2vw;
}

/* wrapper */
.wrapper {
    width: 80%;
    position: absolute;
    top: 0;
}

.wrapper h1 {
    font-size: 5vw !important;
    margin-top: 0;
    margin-bottom: 5vh;
    width: 100%;
}

/* steps */
.steps {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    width: 100%;
}

.steps li {
    display: inline-block;
    margin: 3vw;
    color: #ccc;
    padding-bottom: 5px;
}

.steps li.is-active {
    border-bottom: 1px solid #3498db;
    color: #3498db;
}

/* form */
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.fieldset-section {
    padding: 0 5vw 5vh 5vw;
    background-color: white;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top center;
    transition: transform 0.5s ease-in-out,
                opacity 0.5s ease-in-out;
    will-change: transform, opacity;
    position: absolute;
    width: 100%;
    min-height: 30vw;
    display: flex;
    flex-flow: row wrap;

}

.fieldset-section.is-active {
    opacity: 1;
    transform: scale(1, 1);
}

.fieldset-section .button {
    background-color: #3498db;
    display: inline-block;
    padding: 1vw 4vw;
    color: white;
    cursor: pointer;
    font-size: 2vw;
    margin: 2vw 0;
    position: relative;
    bottom: 0;
    left: 0;
}

.button span{
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0;
}

.button span::after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

.button:hover span::after {
    left: 0;
    width: 100%;
}

.article-details {
    width: 100%;
}

.article-stay, .article-activities, .article-account {
    width: 50%;
}

.figure-img {
    margin: 1vw 0 1.5vw 5.5vw;
    width: 40%;
    height: 20vw;
    transition: background-image .5s ease-out;
    will-change: background-image;
    background-size: cover;
    background-position: center center;

}

.figure-img.homestay {
    background-image: url("../images/panel-bgs/room2.jpg");
}

.figure-img.hotel {
    background-image: url("../images/panel-bgs/hotel.jpg");
}

.figure-img.bonfire {
    background-image: url("../images/panel-bgs/campfire.png");
}

.figure-img.forest-wandering {
    background-image: url("../images/panel-bgs/forest.jpg");
}

.figure-img.mountain {
    background-image: url("../images/panel-bgs/mountain.jpg");
}

.figure-img.fishing {
    background-image: url("../images/panel-bgs/fishing.jpg");
}

.input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.input-wrapper::before {
    content: "";
    display: block;
    background-color: rgb(51, 51, 51);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width .3s ease-out;
    will-change: width;
}

.input-field {
    font-size: 2vw;
    line-height: 1.6;
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 0 5px 0 4vw;
    border: none;
    outline: none;
    position: relative;
    transition: padding .3s ease-out;
    will-change: padding;
}

.icon {
    position: absolute !important;
    font-size: 2vw !important;
    left: 0;
    top: 20% !important;
    pointer-events: none;
    transition: top .3s ease-out,
                font-size .3s ease-out;
    will-change: top, font-size;
}

/* input animations */
.input-field:focus {
    padding-left: 0;
}

.input-field:focus + .icon {
    top: -50% !important;
    font-size: 1.5vw !important;
}

.input-wrapper.input-wrapper-selected::before {
    width: 100%;
}

.input-field.has-value {
    padding-left: 0;
}

.input-field.has-value + .icon {
    top: -50% !important;
    font-size: 1.5vw !important;
}

/* other wrappers */
.radio-wrapper {
    margin-bottom: 30px;
}

.radio-wrapper label {
    display: block;
    margin-bottom: 4px;
    position: relative;
    padding-left: 3vw;
    cursor: pointer;
    font-size: 2vw;
}

.radio-wrapper input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-wrapper label span {
    position: absolute;
    top: 15%;
    left: 0;
    width: 2vw;
    height: 2vw;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color .5s ease-out;
}

.radio-wrapper label:hover span {
    background-color: #ccc;
}

.radio-wrapper input:checked ~ span {
    background-color: rgb(51, 51, 51);
}

.radio-wrapper label span::after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color:#fff;
}

.radio-wrapper input:checked ~ span::after {
    display: block;
}

.selector-wrapper {
    margin-bottom: 30px;
    position: relative;
}

.selector-wrapper label {
    margin: 0;
    font-size: 2vw;
    font-weight: lighter;
}

.selector-wrapper select {
    display: inline-block;
    padding: 0.5vw 1vw;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
}

.selector-wrapper select:last-of-type {
    position: absolute;
    right: 0;
}

.cvv {
    font-size: 2vw;
    line-height: 1.6;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 1vw;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20vw;

}

.figure-account {
    margin: 1vw 0 1.5vw 5.5vw;
    width: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width: 900px) {
    p, li {
        font-size: 3vw;
    }

    .wrapper h1 {
        font-size: 8vw !important;
        margin-bottom: 10vw;
    }

    .input-field {
        font-size: 3vw;
    }

    .icon {
        font-size: 3vw !important;
    }

    .fieldset-section {
        flex-flow: column nowrap;
    }

    .article-stay, .article-activities, .article-account {
        width: 100%;
    }

    .radio-wrapper label {
        font-size: 3vw;
    }

    .figure-img {
        margin: 0;
        height: 30vw;
        width: 100%;
    }

    .fieldset-section .button {
        display: block;
        padding: 2vw 6vw;
        text-align: center;
    }

    .fieldset-section .button span {
        font-size: 3vw;
    }

    .figure-account {
        height: 30vw;
        width: 100%;
        justify-content: flex-start;
        margin: 0;
    }

    .selector-wrapper label {
        font-size: 3vw;
    }

    .selector-wrapper select:last-of-type {
        position: static;
    }

    @keyframes animated_bg {
        0% {background-size: 350%}
        50% {background-size: 400%}
        100% {background-size: 350%}
    }
}
