/* Footer */
footer {
    padding: 6vh 9vw;
    background-image: url("../images/footer.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(100%);
}

footer div {
    opacity: 0.8;
}

footer h1 {
    color: white;
    margin: 5vh 0;
    transform: translateY(5vh);
    opacity: 0;
    transition: transform .5s .25s cubic-bezier(0,1,.3,1),
                opacity .5s .25s ease-out;
    will-change: transform, opacity;
}

footer h1.is-visible {
    transform: translateY(0);
    opacity: 1;
}

footer article {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transform: translateY(5vh);
    opacity: 0;
    transition: transform .5s .25s cubic-bezier(0,1,.3,1),
                opacity .5s .25s ease-out;
    will-change: transform, opacity;
}

footer article.is-visible {
    transform: translateY(0);
    opacity: 1;
}

footer h2 {
    color: white;
    margin: 3vh 0;
}

footer p {
    color: white;
    margin: 2vh 0;
}

footer ul {
    margin-top: 3.5vh;
}

footer ul li {
    margin-bottom: 2vh;
    overflow: hidden;
}

footer a:link {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    padding: 1px 0;

}

footer a:visited {
    color: white;
}

footer a:after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

footer a:hover:after, footer a.active::after {
    left: 0;
    width: 100%;
}

.copyright {
    font-size: 1.4vw;
    opacity: 0;
    transform: translateY(5vh);
    transition: transform .5s .25s cubic-bezier(0,1,.3,1),
                opacity .5s .25s ease-out;
    will-change: transform, opacity;
}

.copyright.is-visible {
    opacity: 0.8;
    transform: translateY(0);
}

@media only screen and (max-width: 900px) {
    footer {
        background-size: 200%;
    }

    footer h1.is-visible {
        font-size: 8vw;
    }

    .is-visible div h2 {
        font-size: 5vw;
    }

    .is-visible div p {
        font-size: 3vw;
    }

    footer a:link {
        font-size: 3vw;
    }

    .copyright {
        font-size: 2.5vw;
    }
}