/* Container Setting */
#container {
    background-position: center;
    position: relative;
    overflow: hidden;
}

#container.is-visible {
    background-size: 100vw 100vh;
}

.logo-link {
    position: absolute;
    top: 2vh;
    left: 9vw;
}

#container img {
    width: 9vw;
}

.title {
    position: absolute;
    left: 9vw;
    width: 50vw;
    top: 18vw;
}

.title h1 {
    color: white;
    margin-bottom: 8vw;
}

.title p {
    font-weight: lighter;
    color: white;
}

.title p a, .title p a:visited {
    color: white;
}

@media only screen and (max-width: 900px) {
    .logo-link {
        top: 5vw;
    }

    #container img {
        width: 20vw;
    }

    .title {
        width: 65vw;
        top: 40vw;
    }

    .title h1 {
        font-size: 8vw;
    }

    .title p {
        font-size: 4vw;
    }
}