* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#loading-page {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 253, 250);
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease-out,
                height 1s ease-out 1s;
    will-change: opacity, height;
}

.finished {
    opacity: 0;
    height: 0 !important;

}

.animate-svg {
    width: 15%;
}

svg + p {
    margin: 2vw 0;
    font-size: 1.5vw;
    opacity: 0;
    animation: p_animation 2s ease-out 8s infinite;
}

@keyframes p_animation {
    0% {
        opacity: 0;
        transform: translateY(2vw);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(2vw);
    }
}