* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2vw;
}

p {
    font-weight: lighter;
}

ul {
    list-style: none;
}

/* menu bar setting */
.nav-menu {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 5;
    top: 50%;
    right: 2%;
    overflow: hidden;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1.black, .bar2.black, .bar3.black {
    background-color: black;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-menu p {
    opacity: 0;
    visibility: hidden;
    color: white;
    transform: translateY(1vh);
    transition: all 0.5s ease;
    font-size: 17px;
}

.nav-menu p.black {
    color: black;
}

.nav-menu:hover p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* overlay setting */
.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    overflow: hidden;
    display: none;
}

.overlay.show-panel {
    display: block;
}

.bg {
    width: 0;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 253, 250);
    top: 0;
    transition: width .5s ease-out;
    will-change: width;
}

.bg.show-panel {
    width: 20%;
}

#bg-1 {
    left: 0;
}

#bg-2 {
    left: 20%;
}

#bg-3 {
    left: 40%;
}

#bg-4 {
    left: 60%;
}

#bg-5 {
    left: 80%;
}

.overlay-content {
    position: relative;
    top: 5%;
    left: 10%;
    width: 100%;
    text-align: center;
    margin-top: 2vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity .5s ease-out,
                left .5s cubic-bezier(0,1,.3,1);
    will-change: opacity, left;
    z-index: 6;
}

.overlay-content.show-panel {
    left: 0;
    opacity: 1;
}

.overlay-content ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.overlay-content h1 {
    font-size: 5vw;
    margin: 6vh 0;
}

.overlay-content ul li {
    padding: 5vh 5vw;
}

.overlay-content li a:link {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    padding: 1vh 0;
    transition: color 0.5s ease;
}

.overlay-content li a:visited {
    color: black;
}

.overlay-content li a:after {
    content: "";
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

.overlay-content li:hover a:after, .overlay-content a.active::after {
    left: 0;
    width: 100%;
}

.overlay-content li a.white:link {
    color: white;
}

.overlay-content li a.white:visited {
    color: white;
}

.overlay-content li a.white:after {
    background: white;
}

@media only screen and (max-width: 900px) {
    .overlay-content {
        top: 10%;
    }

    .overlay-content h1 {
        font-size: 8vw;
    }

    .overlay-content li a:link {
        font-size: 3.5vw;
    }
}