* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
    overflow: hidden;
}

h2 {
    font-size: 3vw;
    font-weight: lighter;
    overflow: hidden;
}

p {
    font-weight: lighter;
    font-size: 2vw;
    overflow: hidden;
}

/* header extra */
header {
    background-image: url("../images/panel-bgs/room2.jpg");
    height: 100vh;
}

/* section setting */
section {
    padding: 6vh 9vw;
    background-color: rgb(255, 253, 250);
    overflow: hidden;
}

section h1 {
    color: black;
    margin-bottom: 5vh;
}

section article {
    display: flex;
    overflow: hidden;
}

section article .content {
    width: 50%;
}

section article .content p {
    font-size: 1.4vw;
    text-align: justify;
    line-height: 1.6;
}

/* button setting */
.button {
    display: inline-block;
    padding: 1vw 4vw;
    margin: 7vw 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
    font-size: 2vw;
    background-color: rgb(176, 66, 50);
}

.button a:link {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2vw;
    padding: 5px 0;
}

.button a:visited {
    color: white;
}

.button a:after {
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all 0.5s;
}

.button:hover a:after, .button a.active::after {
    left: 0;
    width: 100%;
}

/* section image setting */
.image {
    width: 50%;
}
.thumbnail {
    background-color: white;
    border-radius: .25em;
    margin: 5vh 4vw;
    padding: 2vw;
    box-shadow: 0.25em 1em 1em 0.25em rgba(0, 0, 0, 0.2);
    transform: rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    opacity: 0;
    will-change: transform, opacity;
}

.thumbnail.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg) translateY(-4.5vh);
}

.thumbnail div {
    width: 100%;
    height: 250px;
    background-size: cover;
    transition: background-image 0.5s ease-out;
}

.thumbnail .bg-residency1 {
    background-image: url("../images/panel-bgs/room2.jpg");
}

.thumbnail .bg-residency2 {
    background-image: url("../images/panel-bgs/activity1.jpg");
}

.thumbnail .bg-residency3 {
    background-image: url("../images/panel-bgs/campfire.png");
}

.thumbnail h2 {
    margin: 4vh 0;
    text-align: center;
}

.thumbnail p {
    margin: 2vh 0;
    font-size: 1.4vw;
    text-align: center;
    position: absolute;
    width: inherit;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.thumbnail p.show-content {
    opacity: 1;
}

.customers1, .customers2 {
    height: 50px !important;
    position: relative;
}

/* container2 */
#container2 {
    position: relative;
    background-image: url("../images/panel-bgs/hotel.jpg");
    height: 100vh;
    background-attachment: fixed;
}

#container2 .title {
    top: 30%;
}

@media only screen and (max-width: 900px) {
    #container.is-visible {
        background-size: 300% !important;
        background-repeat: no-repeat;
    }

    section h1 {
        font-size: 8vw;
    }

    section article {
        flex-flow: column nowrap;
    }

    section article .content {
        width: 100%;
    }

    section article .content p {
        font-size: 3vw;
    }

    .button {
        padding: 2vw 6vw;
        display: block;
        text-align: center;
    }

    .button a {
        font-size: 3vw !important;
    }

    .image {
        width: 100%;
    }

    .thumbnail h2 {
        font-size: 4vw;
    }

    .thumbnail div {
        height: 55vw;
    }
}