/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* universal setting */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* nav bar */
.navbar {
    padding: 0 30px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0 !important;
    border: none !important;
    background-color: rgb(242, 228, 187) !important;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar li a, .navbar .navbar-brand {
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: rgb(78, 67, 59) !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

.navbar .navbar-brand:hover {
    color: white !important;
    background-color: rgb(249, 209, 86) !important;
}

.navbar li a:hover {
    color: white !important;
    background-color: rgb(249, 209, 86) !important;
}

/* active class for the nav*/
.navbar li.active-state a{
    background-color: rgb(249, 209, 86);
    color: white !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover {
    background: transparent !important;
}

.icon-bar {
    background-color: rgb(249, 209, 86) !important;
}

.navbar-collapse {
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

/* header (jumbotron) setting */
.jumbotron {
    height: 600px;
    background-image: url(../images/bridge.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    top: 30px;
}


/* general section, h2, h4, and p setting */

.container-fluid {
    padding: 30px 100px 30px 100px !important;
}

.container-fluid:first-of-type {
    background-color: rgb(237, 237, 237);
}

.container-fluid div:first-of-type {
    padding-top: 30px;
}

.container-fluid h2 {
    margin: 10px;
    color: rgb(70, 70, 70);
    font-weight: bold;
    text-align: center;
}

.col-sm-7 h2 {
    text-align: left;
    margin: 0 0 60px 0;
}

.container-fluid h3 {
    margin: 0 0 20px 0;
}

.container-fluid h4 {
    margin: 0 0 20px 0;
    text-align: left !important;
}

.container-fluid p {
    text-align: justify;
    margin: 0 0 20px 0;
}

.video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.row {
    padding-bottom: 70px;
}

.col-sm-5 {
    padding: 0 !important
}

.col-sm-5 img{
    width: 65%;
    box-shadow: 10px 10px 5px #aaaaaa;;
}

.col-sm-7 {
    padding: 0 !important
}

/* second row*/
.row.second .col-sm-5 , .row.eighth .col-sm-5{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 100px;
}

/* third row */
.row.third img {
    width: 100%;
}

/* lsit item */
.list-group-item.active {
    color: black;
    background-color: rgb(156, 154, 148) !important;
}

.list-group-item {
    border: none !important;
    background-color: rgb(237, 237, 237) !important;
    text-align: justify;
    cursor: pointer;
}

.image-list {
    padding-left: 25px !important;
}

.image-list img {
    width: 100%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-container {
    padding-bottom: 30px;
}

.img-container img {
    box-shadow: 10px 10px 5px #aaaaaa;
}

/* button setting */
.btn-info {
    background-color: rgb(242, 228, 187) !important;
    border-color: rgb(242, 228, 187) !important;
    color: black !important;
}

.btn-info:hover {
    background-color: rgb(249, 209, 86) !important;
    border-color: rgb(249, 209, 86) !important;
    color: white !important;
}

/* display-none */
.display-none {
    display: none;
    -webkit-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
}
